* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

main {
    text-align: center;
    display: flex;
}
main section {
    background-color: rgb(27, 24, 24);
    margin: 50px auto;
    border-radius: 7px;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.954);
    padding: 7px;
    max-width: 250px;
    min-height: 400px;
}
main p {
    opacity: 0;
    transform: translateX(100px);
}
main section:hover p {
    opacity: 1;
    transform: translateX(0px);
    transition-duration: .5s;
}
main ul {
    opacity: 0;
    transform: translatey(100px);
    margin: 10px;
    list-style: none;
}
main section:hover ul {
    opacity: 1;
    transform: translatey(0px);
    transition-duration: 1s;
}

@media (max-width: 600px) {
    main {
        display: block;
    }
}