@charset "UTF-8";
* {
    margin: 0;
}
body {
    background-color: rgb(226, 217, 205);
}

header{
    font-size: 1.1em;
    background-color: rgb(42, 39, 39);
    color: white;
    padding: 10px;
    text-align: center;
}

header p {
    max-width: 500px;
    margin: auto;
}
#nav-principal {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.473);
}
#nav-principal {
    background-color: rgb(77, 81, 81);
    padding: 5px;
}

#nav-principal a {
    color: white;
    font-size: 1.1em;
    margin: 0 0.5%;
    padding: 0.3% 1%;
    text-decoration: none;
    border-radius: 5px;
}
#nav-principal a:hover {
    background-color: rgba(0, 0, 0, 0.263);
}


main {
    display: flex;
    margin: auto;
    max-width: 1000px;
}
main #article-01 {
    width: 100%;
}
main #section-prencipal {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.208);
    width: 95%;
}
#section-prencipal img{
    border-radius: 12px;
    box-shadow: 1.5px 1.5px 5px black;
    width: 100%;
    height: 300px;
}
#section-prencipal h1 {
    font-size: 1.7em;
    margin: 5px;
    text-align: center;
}
#section-prencipal p {
    font: bold 1em Arial;
    margin: 3px auto;
    max-width: 750px;
    text-align: center;
}
#section-prencipal p a {
    color: rgb(99, 87, 87);
}
#imagens-flex {
    display: flex;
}
#imagens-flex img {
    margin: 5px auto;
    box-shadow: 1px 1px 3px black;
    width: 32%;
    height: 200px;
}
button {
    display: block;
    font: bold 1.5em Arial;
    margin: 15px auto;
    padding: 5px 15px;
    border-radius: 10px;
}
button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transition-duration: 0.3s;
}
.link-download {
    display: block;
    font-size: 1.1em;
    color: rgb(255, 0, 0);
    margin: 10px;
    text-align: center;
    text-decoration: none;
}
.link-download:hover {
    text-decoration: underline;
}
aside {
    display: flex;
}
aside section {
    background-color: blueviolet;
    margin: 3% auto;
    padding: 1%;
    width: 45%;
}

footer {
    background-color: black;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}
footer ul {
    list-style: none;
    columns: 2;
}
footer p {
    font: bold 1.1em italic Arial;
}